/* Home Page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
.logo img {
    height: 60px;
    width: auto;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1{
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: red;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
}

.hero-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text{
    text-align: center;
    color: white;
    padding: 20px;
}

.hero h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.btn{
    background: red;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn :hover{
    background: red;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
/* Menu page */
.menu {
    padding: 40px 20px;
    text-align: center;
}

.menu h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.menu p{
    font-size: 18px;
    margin-bottom: 30px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 2px black;
    padding: 12px;
    text-align: left;
}

th{
    font-weight: bold;
    background-color: white;
    color: black;
}

td {
    background-color: grey;
    color: white;
}

.page-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    color: white;
    padding: 20px;
    background: url('../images/hero.jpg') no-repeat center center/cover;
    position: relative;
}

.page-hero ::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(red, green, blue, alpha);
    z-index: 800px;
}

.page-hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.page-hero p {
    font-size: 18px;
    line-height: 1.5;
}


/* About page */

.about {
    padding: 40px 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: white;
}

.about-img {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

/*Gallery Section */

.gallery{
    padding: 40px 20px;
    text-align: center;
}

.gallery h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.gallery p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}

.slideshow-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 500px;
}

.mySlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 36s infinite;
}

.mySlide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
    border-radius: 8px;
}

@keyframes fade {
    0% { opacity: 0; }
    5% { opacity: 1; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
  }

.mySlide:nth-child(1) { animation-delay: 0s; }
.mySlide:nth-child(2) { animation-delay: 6s; }
.mySlide:nth-child(3) { animation-delay: 12s; }
.mySlide:nth-child(4) { animation-delay: 18s; }
.mySlide:nth-child(5) { animation-delay: 24s; }
.mySlide:nth-child(6) { animation-delay: 30s; }

.mySlide:first-child {
    opacity: 1;
}

/* Contact page */

.contact{
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contact-form input
.contact-form textarea {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background: red;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover{
    background: blue;
}