/* Home Page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1{
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: red;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
}

.hero-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text{
    text-align: center;
    color: white;
    padding: 20px;
}

.hero h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.btn{
    background: red;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn :hover{
    background: red;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
/* Menu page */
.menu {
    padding: 40px 20px;
    text-align: center;
}

.menu h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.menu p{
    font-size: 18px;
    margin-bottom: 30px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background: black;
    color: white;

}

th {
    background: black;
    font-size: 18px;
}

td {
    font-size: 16px;
}

/*Gallery Section */

.gallery{
    padding: 40px 20px;
    text-align: center;
}

.gallery h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.gallery p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery-grid img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery-grid img:hover{
    transform: scale(1.05);
}